
h1, h2{
      display: flex;
  justify-content: center;
}
.card {
  position: relative;
  width: 225px;
  aspect-ratio: 9 / 16;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  inset: 5px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blob {
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 50%;
  background-color: #d900ff;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.br{display: block;}
@keyframes blob-bounce {
  0% {
    transform: translate(-50%, -50%) translate(-20px, -20px);
  }

  25% {
    transform: translate(-50%, -50%) translate(140px, -20px);
  }

  50% {
    transform: translate(-50%, -50%) translate(140px, 300px);
  }

  75% {
    transform: translate(-50%, -50%) translate(-20px, 300px);
  }

  100% {
    transform: translate(-50%, -50%) translate(-20px, -20px);
  }
}

.social-wrapper {
  display: flex;
  justify-content: center;  /* توسيط أفقي فقط */
  margin-top: 50px;         /* ينزل تحت اللي فوقه */
  margin-bottom: 50px;
}

/* الكارت */
.social-card {
  width: 225px;
  padding: 25px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  text-align: center;
}

/* العنوان */
.social-card h3 {
  margin-bottom: 20px;
  font-size: 22px;
}

/* اللينكات */
.social-links {
  display: block;
}

.social {
    margin-top: 10px;
  width: 225px;
  height: 55px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  transition: 0.3s ease;
  text-decoration: none;
}

.social i {
    margin-right: 10px;
}

.phone{background: rgb(46, 244, 92);}
.email { background: #f43219; }
.facebook { background: #1877f2; }
.instagram { background: #e1306c; }
.linkedin { background: #0077b5; }
.github { background: #24292e; }
.resume { background: #525355; }
.portfolio { background: #3d7af2; }

/* Hover */
.social:hover {
  transform: translateY(-2px) scale(1.1);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}



